<ion-view view-title="Login">
    <ion-content class="padding">

        <div>
            <h2>Welcome to artMAP</h2>
            <p>Please login below.</p>
            <p>If you do not have an account, tap the "register" button.</p>
            <label class="item item-input">
                <input type="email" placeholder="Email address" ng-model="auth.email"  autofocus>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </label>
            <button ng-click="logMeIn(auth)" class="button button-block button-positive">Login</button>
            <button ng-click="openModal()" class="button button-block button-positive">Register</button>
        </div>

    </ion-content>
</ion-view>