<ion-view view-title="Login">
    <ion-content class="padding">

        <div>
            <div class="artMapLogo">
                <img src="img/artmap.png">
            </div>
            <h1 id='authWelcome' >Welcome to artMAP</h1>
            <h5 id='authLogin'>Please login below.</p>
            <h5 id='authReg'>If you do not have an account, tap the "register" button.</p>
            <label class="item item-input">
                <input type="email" placeholder="Email address" ng-model="auth.email"  autofocus>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="auth.password">
            </label>
            <button ng-click="logMeIn(auth)" class="button button-block button-positive">Login</button>
            <button ng-click="openModal()" class="button button-block button-positive">Register</button>
        </div>

    </ion-content>
</ion-view>