<ion-view view-title="artCAMERA">
    <ion-content class="padding">

        <img ng-src="{{srcImage || '../../../img/placeholder.jpg'}}" id="picTaken" width="325px" height="325px" style="display: block; margin: 0 auto;"/><br/>
        <div>
            <label class="item item-input">
                <input type="text" placeholder="Artist name" ng-model="picInput.artist">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Name of artwork" ng-model="picInput.title">
            </label>
        </div>
        <button class="button button-block button-positive " ng-click="takePhoto()">Take Image</button>
        <button class="button button-block button-positive " ng-click="uploadPhoto({{srcImage}})">Upload Image</button>

    </ion-content>
</ion-view>