<ion-view view-title="artCAMERA">
    <ion-content>

        <img ng-src="{{srcImage}}" id="picTaken" width="350px" height="350px" style="display: block; margin: 0 auto;"/><br/>
        <div>
            <p>Lat/long: {{lat}} / {{long}}</p>

            <label class="item item-input">
                <input type="text" placeholder="Artist name" ng-model="artist">
            </label>
        </div>
        <button class="button button-block button-positive " ng-click="takePhoto()">Take Image</button>
        <button class="button button-block button-positive " ng-click="uploadPhoto({{srcImage}})">Upload Image</button>

    </ion-content>
</ion-view>