<ion-view view-title="artDASH">
    <ion-content class="padding">
        <div class="artMapLogo">
          <img src="img/artmap.png">
        </div>
        <div class="list card">
          <div class="item item-divider">
            <div  class='dashWelcome'>Hi {{ user.displayName }}!</div>
            <div class='dashWelcome'>Welcome to artMAP</div>

          </div>
            <div id='dashAlbum' class="item item-button-left">
                    Your artMAP album
                    <button class="button button-positive" ui-sref='tabs.album'>
                      <i class="icon ion-folder"></i>
                    </button>
            </div>
            <div id='dashCam' class="item item-button-left">
                    Post some new art
                    <button class="button button-positive" ui-sref='tabs.camera'>
                      <i class="icon ion-camera"></i>
                    </button>
            </div>
            <div id='dashMap' class="item item-button-left">
                    Checkout art in your area
                    <button class="button button-positive" ui-sref='tabs.map'>
                      <i class="icon ion-map"></i>
                    </button>
            </div>
        </div>

    </ion-content>
</ion-view>