
<ion-view view-title="artALBUM">
    <ion-content class="padding">
            <div class="list card" ng-repeat="photo in album | toArray | orderBy: '-time'">
                <div  id="{{photo.postId}}">
                    <div class="item item-avatar">
                        <img src="../../img/profile-placeholder.jpg">
                        <h2 id='albumTitle'>Title: {{photo.title}}</h2>
                        <p id='albumArtist'>Artist: {{photo.artist}}</p>
                    </div>

                    <div class="item item-image">
                        <img ng-src="{{photo.photoURI || null}}">
                    </div>

                    <a class="item item-icon-left assertive">
                        <i class="icon ion-thumbsup"></i>
                        0 likes
                    </a>
                    <a class="item item-icon-left assertive" ng-click="deletePhoto(photo.postId)">
                        <i class="icon ion-trash-a"></i>
                        Delete Post
                    </a>
                </div>
            </div>

    </ion-content>
</ion-view>